################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Intermediate
/Binaries/Win64
/Saved
/KGCA38.sln
/Plugins/TeamAI/Binaries/Win64
/Plugins/TeamAI/Intermediate/Build/Win64/UE4Editor
/Plugins/TeamPlayer/Intermediate/Build/Win64/UE4Editor
/Plugins/TeamPlayer/Binaries/Win64
/Plugins/TeamEffect/Binaries/Win64
/Plugins/TeamEffect/Intermediate/Build/Win64/UE4Editor/Development/TeamEffect
/Plugins/TeamMap/Binaries/Win64
/Plugins/TeamMap/Intermediate/Build/Win64/UE4Editor/Development/TeamMap
/Plugins/MazeRunnerMapToolPlugins/Binaries/Win64
/Plugins/MazeRunnerMapToolPlugins/Intermediate/Build/Win64/UE4Editor
/Plugins/ProjectUI/Binaries/Win64
/Plugins/ProjectUI/Intermediate/Build/Win64/UE4Editor
